.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #D1EDFF url("#{$img-path}/testDirectory/testImg.png") no-repeat;
  background-size: cover;
  text-align: center;
}

.title {
  color: #00d8ff;
  font: 70px $font-Test;
  text-transform: uppercase;
  margin: 50px 0 0;
  text-shadow: 0 0 10px #fff;
}

.logo {
  max-width: 300px;
  margin: 0 auto;
}

.desc {
  color: #c72429;
  font-size: 40px;
}


.sprite{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 40px 0 0;

  &__ico{
    width: 80px;
    height: 80px;
    display: inline-block;

    &.-ico_google{
      background-image: url("#{$img-path}/icons/google-plus-ico.svg");
    }

    &.-ico_linkedin{
      background-image: url("#{$img-path}/icons/linkedin-ico.svg");
    }

    &.-ico_instagram{
      background-image: url("#{$img-path}/icons/instagram-ico.svg");
    }
  }
}